{% extends "LAYOUT.html" %}
{% block title %}Blog{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    
<section id="blogShortDescription">
<div class="container">
	 <div id="blog" class="row">
                 <div class="col-md-4">
                     <div class="blogShort">
                         <img src="../static/img/blog/cost_effective.jpg" alt="Condition Assessment img" class="img-thumbnail">
                         Cost-Effective Condition Assessment of Steam-Cooled Boiler Tubes
                     </div>
                     <h2>Cost-Effective Condition Assessment of Steam-Cooled Boiler Tubes</h2>
                     <article>
                         <span class="timeStamp"> December 5, 2017</span>
                         <span class="tags"> Agent Experience, News</span>
                         <p>
                             This blog is the first in a series discussing boiler tube condition assessments.  While these basics might be familiar to many, this first installment will serve as a refresher to the experienced and an introduction to novices.  Have you faced one of these scenarios regarding your steam-cooled ferritic (superheater and reheater) tubing?
                         </p>
                     </article>
                     <a class="btn btn-blog pull-right marginBottom10" href="http://www.intertek.com/blog/2017-01-17-tubealert/">READ MORE</a>
                 </div>
                 <div class="col-md-4">
                     <div class="blogShort">
                         <img src="../static/img/blog/costcom.jpg" alt="post img" class="img-thumbnail">
                         A real-time cost analysis tool for power plant operations supports owners' and operators' capital planning, operations training and decision making.
                     </div>
                     <h2>Cost Control of Operations and Maintenance (COSTCOM)</h2>
                      <article>
                          <span class="timeStamp"> December 5, 2017</span>
                          <span class="tags"> Agent Experience, News</span>
                          <p>
                              Power plants that often start, stop, cycle, two shift, and operate above a unit's rating impact the life of the unit and total associated unit operating costs. Intertek has developed a real-time operations code called COSTCOM that is specifically calibrated to display the maintenance, capital replacement, and wear-and-tear costs associated with these potentially damaging operations. Intertek has analyzed actual cycling costs for nearly 300 power generating plants.
                          </p>
                      </article>
                     <a class="btn btn-blog pull-right marginBottom10" href="http://www.intertek.com/blog/2017-01-31-costcom/">READ MORE</a>
                 </div>
                 <div class="col-md-4">
                     <div class="blogShort">
                         <img src="../static/img/blog/lubrication.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                         Are You Your Own Worst Enemy?
                     </div>
                     <h2>Lubrication Storage and Handling Pratices</h2>
                     <article>
                         <span class="timeStamp"> December 5, 2017</span>
                         <span class="tags"> Agent Experience, News</span>
                         <p>
                             Many hours have been devoted to studying the formulation of lubricants. Major oil companies employ entire departments of doctorate-level chemists to develop specific oils and greases for a variety of applications. These activities require in-depth knowledge of the specific need for the lubricant and the tools available to meet it, ranging from the refining process itself to the additive packages used to achieve specific characteristics.
                         </p>
                     </article>
                     <a class="btn btn-blog pull-right marginBottom10" href="http://www.intertek.com/blog/2017-01-10-aim/">READ MORE</a>
                 </div>
               <div class="col-md-12 gap10">

               </div>
    </div>
</div>
</section>

{% endblock %} 
