{% extends "LAYOUT.html" %}
{% block title %}Pricing{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
<style>
.panel-primary {
  border-color: #21B6D7;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #21B6D7;
  border-color: #21B6D7;
}
</style>

{% block content %}
    <br>
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        INGRID DATABASE</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1><center>Free</center></h1>
                        <small>No trial</small>
                    </div>
                    <table class="table">
                        <tr><td>Access Data for Power Plants &amp; Generators (all fuels)</td></tr>
                        <tr class="active"><td>Multiple Search Capabilities</td></tr>
                        <tr><td>Advance search in Maps</td></tr>
                        <tr class="active"><td>Fuel Comsumption by Fuel Type</td></tr>
                        <tr><td>Yearly Generation</td></tr>
                        <tr class="active"><td>Owners and Operators</td></tr>
                        <tr><td>Downloadable Tables and Graphs</td></tr>
                        <tr class="active"><td>Interactive Plots and Maps</td></tr>
                        <tr><td>Searchable Tables and Filters</td></tr>
                         </table>
                </div>
                <div class="panel-footer">
                   <a href="contactus#" class="btn btn-success" role="button">Contact us</a> </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">OPERATIONAL BENCHMARK</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1><center>$ XXXX/year</center></h1>
                        <small>See More @ Analytics</small>
                    </div>
                    <table class="table">
                        <tr><td> Keep up-to-date operations</td></tr>
                        <tr class="active"><td> Compare your unit with units of the same age/fuel/capacity </td></tr>
                        <tr><td> Understand the impact of renewables in your fleet</td></tr>
                        <tr class="active"><td> Historical and Cumulative Cycling Damage</td></tr>
                        <tr><td> Starts (Hot/Warm/Cold), Load Follows</td></tr>
                        <tr class="active"><td>Availability, Capacity, and Utilization Factors, etc.</td></tr>   
                        <tr><td> Level 1 = using public data</td></tr>
                        <tr class="active"><td> Level 2 = using your MW data</td></tr>  
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="contactus#" class="btn btn-success" role="button">Contact us</a></div>
            </div>
         
        
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">SIGNATURE DATA BENCHMARK</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1><center>$ XXXX/year </center><span class="subscript"></span></h1>
                        <small>See More @ Analytics</small>
                    </div>
                    <table class="table">
                        <tr><td> Determine the relative stresses and damage to key unit components </td></tr>
                        <tr class="active"><td> Analysis of past reliability and outage data</td></tr>
                        <tr><td> Determine Historical and Cumulative Damage to critical cycling-related components.</td></tr>
                        <tr class="active"><td> Obtain procedures for turndown to the lowest loads and how to do that in the least damaging ways. </td></tr>
                        <tr><td> Identify anticipated damage mechanisms and critical equipment </td></tr>   
                        <tr class="active"><td> Minimize outages and prioritize systems in your next inspection. </td></tr>
                        <tr><td> Optimize operations and save in operating and maintenance costs. </td></tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="contactus#" class="btn btn-success" role="button">Contact us</a> </div>
            </div>
        </div>
        <!--<div class="col-xs-12 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        MULTIPLE ANALYTIC SOLUTIONS</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            Custom Price<span class="subscript"></span></h1>
                        <small>See More @ Products and Services</small>
                    </div>
                    <table class="table">
                        <tr><td>Install our Program for Real-time Cost of Cycling</td></tr>
                        <tr class="active"><td>Optimize Operations Using a Bottom-up Approach</td></tr>
                        <tr><td>Predict the Distribution of Tube Defects</td></tr>
                        <tr class="active"><td>Estimate Corrosion within the Tubes</td></tr>
                        <tr><td>Forecast Remaining Useful Life</td></tr>
                        <tr class="active"><td>Extend the life of your wind farm</td></tr>
                        <tr><td>Custom Reports for Your Needs</td></tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="contactus#" class="btn btn-success" role="button">Contact us</a></div>
            </div>
        </div>-->
    </div>
</div>
{% endblock %} 