#section-overview {
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  color: #fff;
}

#section-overview .section-title {
  text-align: center;
}

#section-overview .flex-area {
  margin-top: 6rem;
  align-items: start;
}

#section-overview .mini-section {
  background-color: #130C0E;
  color: #fff;
  margin-top: 0;
}

#section-overview .mini-section h1 {
  color: #fff;
}

#section-overview .service-content {
  align-items: center;
  flex-wrap: wrap;
}

#section-overview .service-description {
  flex-grow: 1;
}

#section-overview .service-level {
  font-size: 0.7em;
  margin: 0 0 0 2rem;
}

#section-demo {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.6));
  color: #fff;
}

#section-demo h1 {
  color: #fff;
}
